body{
	font-family: 'Roboto', sans-serif;
	padding:0;
	margin:0;
}
.cus-container {
    width: 100%;
    display: flex;
}
.editor-left-part {
    width: 120px;
    display: inline-block;
    background: #222629;
    min-height: 100vh;
    padding: 0;
}
.sidebar-inner {
    width: 100%;
    display: inline-block;
    padding: 0;
	min-height: calc(100vh - 48px);
    overflow: auto;
}
.sidebar-inner ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-inner ul li {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #393c3e;
    padding: 15px 15px;
    text-align: center;
}
.sidebar-inner ul li:last-child {
	border-bottom: 0px solid #393c3e;
}
.sidebar-inner ul li p {
    color: #fff;
	margin: 8px 0 0 0;
	text-transform: uppercase;
    font-size: 10px;
	letter-spacing: 0.5px;
}
.sidebar-inner ul li input {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin: 0;
	max-width: 80px;
}
.sidebar-inner ul li button {
    background: #52b5ff;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
    height: 36px;
}
.sidebar-inner ul li button:hover, .sidebar-inner ul li button:focus, .sidebar-inner ul li button:active{
	-webkit-box-shadow: none;
    box-shadow: none;
	color: #fff;
}
.sidebar-inner ul li i {
    color: #fff;
    font-size: 30px;
}
.circle-image{
	width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}
.cursor-pointer{
    cursor:pointer;
}
.editor-right-part {
    width: calc(100% - 120px);
    display: inline-block;
    padding: 30px;
    text-align: center;
}

.star-image{
    height : 21px
}